@model IQueryable<EntityBase>

<!-- Features -->
<div class="container" id="features">
    <div class="features">
        
        @{ int i = 0; }
        @foreach (var item in Model)
        {
            string s = $"img/features/feature-{++i}.png";
            <div class="features__item">
                <img class="features__icon" src="@s" alt="">
                <h4 class="features__title">@item.Header</h4>
                <div class="features__text">@item.Text</div>
            </div>
        }
        
        @* <div class="features__item"> *@
        @*     <img class="features__icon" src="img/features/feature-1.png" alt=""> *@
        @*     <h4 class="features__title">Easily Customised</h4> *@
        @*     <div class="features__text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla</div> *@
        @* </div> *@
        @* *@
        @* <div class="features__item"> *@
        @*     <img class="features__icon" src="img/features/feature-2.png" alt=""> *@
        @*     <h4 class="features__title">Responsive REady</h4> *@
        @*     <div class="features__text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla</div> *@
        @* </div> *@
        @* *@
        @* <div class="features__item"> *@
        @*     <img class="features__icon" src="img/features/feature-3.png" alt=""> *@
        @*     <h4 class="features__title">Modern Design</h4> *@
        @*     <div class="features__text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla</div> *@
        @* </div> *@
        @* *@
        @* <div class="features__item"> *@
        @*     <img class="features__icon" src="img/features/feature-4.png" alt=""> *@
        @*     <h4 class="features__title">Clean Code</h4> *@
        @*     <div class="features__text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla</div> *@
        @* </div> *@
        @* *@
        @* <div class="features__item"> *@
        @*     <img class="features__icon" src="img/features/feature-5.png" alt=""> *@
        @*     <h4 class="features__title">Ready to Ship</h4> *@
        @*     <div class="features__text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla</div> *@
        @* </div> *@
        @* *@
        @* <div class="features__item"> *@
        @*     <img class="features__icon" src="img/features/feature-6.png" alt=""> *@
        @*     <h4 class="features__title">Download for Free</h4> *@
        @*     <div class="features__text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla</div> *@
        @* </div> *@
    </div><!-- /.features -->
</div><!-- /.container -->