<!-- Works -->
<div class="works" id="works">
    <div class="works__item">
        <img class="works__photo" src="img/works/work-1.jpg" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="img/works/work-2.jpg" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="img/works/work-3.jpg" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="img/works/work-4.jpg" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="img/works/work-5.jpg" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="img/works/work-6.jpg" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="img/works/work-7.jpg" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>

    <div class="works__item">
        <img class="works__photo" src="img/works/work-8.jpg" alt="">
        <div class="works__content">
            <div class="works__title">Project Name</div>
            <div class="works__text">User Interface Design</div>
        </div>
    </div>
</div><!-- /.works -->