<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - ActiveBox</title>
    @await Html.PartialAsync("MetatagsPartial")
  
</head>
<body>

@await Html.PartialAsync("Header")


@RenderBody()


@await Html.PartialAsync("Footer")


<environment include="Development">
    @await Html.PartialAsync("CssPartial")
</environment>

@await Html.PartialAsync("ScriptsPartial")
</body>
</html>