<footer class="footer">
    <div class="container">

        <div class="footer__inner">
            <div class="footer__block">
                <h4 class="footer__title">Location</h4>
                <address class="footer__address">
                    <div>3481 Melrose Place</div>
                    <div>Beverly Hills, CA 90210</div>
                </address>
            </div>

            <div class="footer__block">
                <h4 class="footer__title">Share with Love</h4>
                <div class="social  social--footer">
                    <a class="social__item" href="#" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                    <a class="social__item" href="#" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#twitter"></use>
                        </svg>
                    </a>
                    <a class="social__item" href="#" target="_blank">
                        <svg class="social__icon">
                            <use xlink:href="#linkedin"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="footer__block">
                <h4 class="footer__title">About ActiveBox</h4>
                <div class="footer__text">
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</p>
                </div>
            </div>
        </div><!-- /.footer__inner -->

    </div><!-- /.container -->

    <div class="copyright">
        <div class="container">
            <div class="copyright__text">
                <div>Copyright © 2021 ActiveBox. All Rights Reserved</div>
                <div>Made <span>by Max Prokhorchuk</span></div>
            </div>
        </div>
    </div>
</footer>