<header class="header" id="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <img src="img/activebox-logo.png" alt="">
            </div>

            <nav class="nav" id="nav">
                <a class="nav__link" href="#" data-scroll="#features">Features</a>
                <a class="nav__link" href="#" data-scroll="#works">Works</a>
                <a class="nav__link" href="#" data-scroll="#team">Our Team</a>
                <a class="nav__link" href="#" data-scroll="#reviews">Testimonials</a>
                <a class="nav__link" href="#" data-scroll="#download">Download</a>
            </nav>

            <button class="burger" type="button" id="navToggle">
                <span class="burger__item">Menu</span>
            </button>

        </div>
    </div>
</header>