@model IQueryable<OurTeam>

@{int i = 0 ;}
<!-- Team -->
<div class="team" id="team">
    <div class="container">
        <div class="team__inner">
@foreach (var item in Model)
{
    string s = $"img/team/team-{++i}.jpg";
    <div class="team__item">
        <img class="team__photo" src="@s" alt="">
        <div class="team__name">@item.Header</div>
        <div class="team__prof">@item.Position</div>
        <div class="team__text">
            <p>@item.Text</p>
          
        </div>

        <div class="social">
            <a class="social__item" href="#" target="_blank">
                <svg class="social__icon">
                    <use xlink:href="#facebook"></use>
                </svg>
            </a>
            <a class="social__item" href="#" target="_blank">
                <svg class="social__icon">
                    <use xlink:href="#twitter"></use>
                </svg>
            </a>
            <a class="social__item" href="#" target="_blank">
                <svg class="social__icon">
                    <use xlink:href="#linkedin"></use>
                </svg>
            </a>
        </div>
    </div>
}
        </div><!-- /.team__inner -->
    </div><!-- /.container -->
</div><!-- /.team -->












@* *@
@* *@
@*             <div class="team__item"> *@
@*                 <img class="team__photo" src="img/team/team-1.jpg" alt=""> *@
@*                 <div class="team__name">Ruth Woods</div> *@
@*                 <div class="team__prof">Founder, CEO</div> *@
@*                 <div class="team__text"> *@
@*                     <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> *@
@*                     <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p> *@
@*                 </div> *@
@* *@
@*                 <div class="social"> *@
@*                     <a class="social__item" href="#" target="_blank"> *@
@*                         <svg class="social__icon"> *@
@*                             <use xlink:href="#facebook"></use> *@
@*                         </svg> *@
@*                     </a> *@
@*                     <a class="social__item" href="#" target="_blank"> *@
@*                         <svg class="social__icon"> *@
@*                             <use xlink:href="#twitter"></use> *@
@*                         </svg> *@
@*                     </a> *@
@*                     <a class="social__item" href="#" target="_blank"> *@
@*                         <svg class="social__icon"> *@
@*                             <use xlink:href="#linkedin"></use> *@
@*                         </svg> *@
@*                     </a> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             <div class="team__item"> *@
@*                 <img class="team__photo" src="img/team/team-2.jpg" alt=""> *@
@*                 <div class="team__name">Timothy Reed</div> *@
@*                 <div class="team__prof">Co-Founder, Developer</div> *@
@*                 <div class="team__text"> *@
@*                     <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> *@
@*                     <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p> *@
@*                 </div> *@
@*                 <div class="social"> *@
@*                     <a class="social__item" href="#" target="_blank"> *@
@*                         <svg class="social__icon"> *@
@*                             <use xlink:href="#facebook"></use> *@
@*                         </svg> *@
@*                     </a> *@
@*                     <a class="social__item" href="#" target="_blank"> *@
@*                         <svg class="social__icon"> *@
@*                             <use xlink:href="#twitter"></use> *@
@*                         </svg> *@
@*                     </a> *@
@*                     <a class="social__item" href="#" target="_blank"> *@
@*                         <svg class="social__icon"> *@
@*                             <use xlink:href="#linkedin"></use> *@
@*                         </svg> *@
@*                     </a> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             <div class="team__item"> *@
@*                 <img class="team__photo" src="img/team/team-3.jpg" alt=""> *@
@*                 <div class="team__name">Victoria Valdez</div> *@
@*                 <div class="team__prof">UI Designer</div> *@
@*                 <div class="team__text"> *@
@*                     <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> *@
@*                     <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p> *@
@*                 </div> *@
@*                 <div class="social"> *@
@*                     <a class="social__item" href="#" target="_blank"> *@
@*                         <svg class="social__icon"> *@
@*                             <use xlink:href="#facebook"></use> *@
@*                         </svg> *@
@*                     </a> *@
@*                     <a class="social__item" href="#" target="_blank"> *@
@*                         <svg class="social__icon"> *@
@*                             <use xlink:href="#twitter"></use> *@
@*                         </svg> *@
@*                     </a> *@
@*                     <a class="social__item" href="#" target="_blank"> *@
@*                         <svg class="social__icon"> *@
@*                             <use xlink:href="#linkedin"></use> *@
@*                         </svg> *@
@*                     </a> *@
@*                 </div> *@
@*             </div> *@
@* *@
@*             <div class="team__item"> *@
@*                 <img class="team__photo" src="img/team/team-4.jpg" alt=""> *@
@*                 <div class="team__name">Beverly Little</div> *@
@*                 <div class="team__prof">Data Scientist</div> *@
@*                 <div class="team__text"> *@
@*                     <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p> *@
@*                     <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo.</p> *@
@*                 </div> *@
@*                 <div class="social"> *@
@*                     <a class="social__item" href="#" target="_blank"> *@
@*                         <svg class="social__icon"> *@
@*                             <use xlink:href="#facebook"></use> *@
@*                         </svg> *@
@*                     </a> *@
@*                     <a class="social__item" href="#" target="_blank"> *@
@*                         <svg class="social__icon"> *@
@*                             <use xlink:href="#twitter"></use> *@
@*                         </svg> *@
@*                     </a> *@
@*                     <a class="social__item" href="#" target="_blank"> *@
@*                         <svg class="social__icon"> *@
@*                             <use xlink:href="#linkedin"></use> *@
@*                         </svg> *@
@*                     </a> *@
@*                 </div> *@
@*             </div> *@
@* *@
